.bd-grid {
  display: grid;
  grid-template-columns: 100%;
  max-width: 1000px;
  margin-left: 1rem;
  margin-right: 1rem;

  @include media($max-md) {
    margin-left: auto;
    margin-right: auto;
  }
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: $z-fixed;
}

.main-bg {
  height: 100vh;

  &__hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
}
